.other_ans_txt{
display:none;
}
.question_label_div{
style='width:100%; 
background-color:#FFFFCC;
text-align:center;
}
.evenrow{
	background-color:#FFFFCC;
}
.oddrow{
	background-color:#CCCCFF;
}
.canswer{
color:green;
}